<div class="container">
  <div class="wrapper">
    <div class="content text-center">
      <img src="assets/images/new-logo-2.png" alt="">
      <br><br>
      <p class="register">{{'Forgot Password' | translate}}</p>
      <p class="undertext">
        {{'Enter your email address and we will send a link to reset your password' | translate}}
      </p>
      <div class="inputs">
        <form [formGroup]="requestpasswordForm" aria-labelledby="title"
          class="d-flex align-items-center justify-content-center w-100 flex-column ">

          <label [ngClass]="lang === 'en' ? 'entext' : 'artext'">
            {{'Enter your email address' | translate}}:
          </label>
          <input class="form-control inputD" type="email" email="ngModel" id="input-email" name="email"
            formControlName="email" pattern=".+@.+..+" placeholder="{{'Email address' | translate}}">
          <ng-container *ngIf="requestpasswordForm.controls.email.touched">
            <p class="caption status-danger"
              *ngIf="requestpasswordForm.controls.email.errors?.required && requestpasswordForm.controls.email.touched">
              {{'Email' | translate}} {{'is required' | translate}}!
            </p>
            <p class="caption status-danger" *ngIf="requestpasswordForm.controls.email.touched &&
                      requestpasswordForm.controls.email.errors?.pattern">
              {{'Email should be the real one' | translate}}!
            </p>
          </ng-container>

        </form>
      </div>

      <div class="button">
        <button (click)="sendmail()" [disabled]="!requestpasswordForm.valid">
          <span>{{'Request password' | translate}}</span>
        </button>
        <div class="dirc">
          <p class="mt-3"><span class="reg" routerLink="../login">{{'Back to login' | translate}}</span></p>
          <p class="mt-3"><span class="reg" routerLink="../register">{{'Register' | translate}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
