.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .content {
    margin: auto;
    width: 40%;
    .register {
      color: #1969b3;
      margin: 24px 0px 23px 0px;
      font-size: 26px;
    }
    .undertext {
      color: #8e8e8e;
      width: 73%;
      text-align: center;
      margin: auto;
      margin-bottom: 25px;
    }
    .email {
      text-align: left;
      width: 84%;
      color: #8e8e8e;
    }
    span {
      color: #f9b056;
    }
    .inputs {
      text-align: center;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .inputD {
        margin-bottom: 12px;
        border-radius: 50px;
        padding: 25px 17px;
        width: 90%;
      }
    }
    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
    }
    .logo {
      height: 100%;
      img {
        width: 100%;
      }
    }
    .text {
      color: #1969b3;
    }
    .padding-h-14 {
      padding: 0px 14px;
    }
    .button {
      p {
        color: #888585;
      }
      .reg {
        color: #1969b3;
        cursor: pointer;
        text-decoration: underline;
      }
      button {
        border: none;
        width: 70%;
        padding: 15px 27px;
        border-radius: 31px;
        margin-top: 23px;
        color: white;
        font-weight: bold;
        background: #1969b3;
        font-size: 18px;
        span {
          color: white;
          text-decoration: none;
        }
      }
      button:disabled {
        opacity: 0.5;
        cursor: no-drop;
      }
    }

    .w-90 {
      width: 90%;
    }
    .color-red {
      color: red !important;
      text-align: left;
      width: 80%;
    }
    @media only screen and (max-width: 767px) {
      .wrap {
        height: auto;
      }
    }

    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }

    .example-full-width {
      width: 100%;
    }
    .auth {
      white-space: nowrap;
      padding: 7px 14px;
      font-weight: 500;
    }

    img {
      width: 400px;
    }
    .label {
      color: #956dbc;
    }
    .color-red {
      color: red !important;
    }
    input[type="checkbox"] {
      margin-right: 7px;
    }
  }
}
.accept-terms {
  text-align: left !important;
  width: 86%;
}

.termsandconditions {
  text-align: left;
  width: 83%;
  span {
    color: #1969b3 !important;
    text-decoration: underline !important;
  }
}
.status-danger {
  color: red;
  text-align: left;
  width: 84%;
}
.dirc {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 13px;
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .content {
    width: 100% !important;
  }
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
  .content {
    width: 100% !important;
  }
  .wrapper .content .button button {
    font-size: 14px;
  }
}
@media only screen and (min-width: 319px) and (max-width: 375px) {
  .content {
    width: 100% !important;
  }
  .wrapper .content .button button {
    font-size: 14px;
  }
}

button:focus {
  outline: none;
}

.artext {
  text-align: right !important;
  width: 84%;
  color: #8e8e8e;
}
.entext {
  text-align: left;
  width: 84%;
  color: #8e8e8e;
}
