<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header class="nb-card-header-project">
        <h5 class="c-logo-blue" *ngIf="!id">{{'Add phase' | translate}}</h5>
        <h5 class="c-logo-blue" *ngIf="id">{{'Edit phase' | translate}}</h5>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="ProjectForm">
          <div class="form-group row">
            <label for="inputProjectName" class="label col-sm-2 col-form-label">{{'Sub-project Name' |
              translate}}</label>
            <div class="col-sm-6">
              <input type="text" nbInput fullWidth id="inputProjectName"
                placeholder="{{'Sub-project Name' | translate}}" formControlName="phase_name">
              <ng-container *ngIf="ProjectForm.controls.phase_name.touched">
                <p class="caption status-danger" *ngIf="ProjectForm.controls.phase_name.errors?.required">
                  {{'Sub-project Name' | translate}} {{'is required' | translate}}!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputProjectCode" class="label col-sm-2 col-form-label">{{'Project Status' | translate}}</label>
            <div class="col-sm-6">
              <ng-select placeholder=" {{ 'Select' | translate}} {{ 'Project Status' | translate}} " fullWidth
                formControlName="active">
                <ng-option value="1"> {{'Active' | translate}} </ng-option>
                <ng-option value="0"> {{'Inactive' | translate}} </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCompany" class="label col-sm-2 col-form-label">{{'Projects' | translate}}</label>
            <div class="col-sm-6">
              <ng-select fullWidth placeholder="{{'Select' | translate}} {{'Projects' | translate}}"
                formControlName="project_id">
                <ng-option *ngFor="let item of projectList" [value]="item.id"> {{ item.name }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 margin-right">
              <div class="col-sm-12 flex-space-around flex-direction-c flex-direction-c">
                <button type="button" class="cancel capitalize btn-custom-gray btn-width"
                  [routerLink]="['/pages/sub-project']">{{'Cancel' | translate}}</button>
                <button type="submit" class="save capitalize btn-save btn-custom-blue btn-width"
                  [disabled]="!(ProjectForm.valid)" (click)="addProject()">{{'Save' | translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
