<div class="container">
  <div class="wrapper">
    <div class="content text-center">
      <img src="assets/images/new-logo.png" alt="">
      <p class="register">{{'Change password' | translate}}</p>
      <div class="inputs">
        <form [formGroup]="createPasswordForm" aria-labelledby="title"
          class="d-flex align-items-center justify-content-center w-100 flex-column">



          <input class="form-control inputD" type="text" formControlName="code"
            placeholder="{{'OTP code' | translate}}">
          <ng-container *ngIf="createPasswordForm.controls.code.touched">
            <p class="caption status-danger"
              *ngIf="createPasswordForm.controls.code.errors?.required && createPasswordForm.controls.code.touched">
              {{'OTP code is required' | translate}}!
            </p>


            <p class="color-red" *ngIf="createPasswordForm.controls.code.errors?.maxlength">
              {{'OTP code must be 5 numbers' | translate}}
            </p>
          </ng-container>



          <input class="form-control inputD" type="password" formControlName="password"
            placeholder="{{'password' | translate}}">
          <ng-container *ngIf="createPasswordForm.controls.password.touched">
            <p class="caption status-danger"
              *ngIf="createPasswordForm.controls.password.errors?.required && createPasswordForm.controls.password.touched">
              {{'Password' | translate}} {{'is required' | translate}}!
            </p>
          </ng-container>
        </form>
      </div>

      <div class="button">
        <button (click)="changepassword()" [disabled]="!createPasswordForm.valid">
          <span>{{'Change password' | translate}}</span>
        </button>
        <div class="dirc">
          <p class="mt-3"><span class="reg" routerLink="../login">{{'Back to login' | translate}}</span></p>
          <p class="mt-3"><span class="reg" routerLink="../register">{{'Register' | translate}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
