<div class="container-fluid">
    <div class="wrapper">
      <div class="content text-center">
        <img src="assets/images/new-logo.png" alt="">
        <div class="inputs">
          <form [formGroup]="setpasswordForm" aria-labelledby="title"
            class="d-flex align-items-center justify-content-center w-100 flex-column">
            <input class="form-control inputD" password="ngModel" type="password" id="input-password" name="password"
              formControlName="password" placeholder="{{'Password' | translate}}">
            <ng-container *ngIf="setpasswordForm.controls.password.touched">
              <p class="caption status-danger"
                *ngIf="setpasswordForm.controls.password.errors?.required && setpasswordForm.controls.password.touched">
                {{'Password' | translate}} {{'is required' | translate}}!
              </p>
           
            </ng-container>
          </form>
        </div>
  
        <div class="button">
          <button (click)="setpassword()" [disabled]="!setpasswordForm.valid">
            <span>{{'Set password' | translate}}</span>
          </button>

        </div>
      </div>
    </div>
  </div>
  