<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-1 col-md-2"></div>
          <div class="col-10 col-md-8">
            <div class="container bg-white content">
              <div class="row">
                <div class="col-12">
                  <p class="head text-center">
                    {{ "Pending Payments" | translate }}
                  </p>
                </div>
                <div class="col-12">
                  <hr />
                </div>
                <div class="col-12">
                  <div
                    *ngFor="let invoice of pending"
                    class="stripped"
                    (click)="details(invoice)"
                  >
                    <div class="container invoice">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <p class="sec-font">
                            {{ "Invoice Number" | translate }} : #{{
                              invoice?.id
                            }}
                          </p>
                        </div>
                        <div class="col-12 col-md-6">
                          <p class="sec-font">
                            {{ "Date" | translate }} : {{ invoice?.date_from }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p class="text-center sec-font font-weight-bold">
                          {{ "Total" | translate }} :
                          {{ moneyFormatter(invoice?.amount_remaining) }}
                          {{ "EGP" | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
